<div class="main">
  <div class="inner">
    <div class="profile__wrapper">
      <h2 class="page-heading">コメントを編集する</h2>

      <%= form_with(model: [ @qualification, @comment ], url: qualification_comment_path(@qualification, @comment), method: :patch, class: 'comment-form') do |form| %>
        <div class="comment-form__field">
          <%= form.label :content, class: 'comment-form__label' do %>
            コメント内容
          <% end %>
          <%= form.text_area :content, required: true, class: 'comment-form__textarea' %>
        </div>

        <div class="comment-form__actions">
          <%= form.submit '更新する', class: 'comment-form__submit' %>
          <%= link_to '戻る', qualification_path(@qualification), class: 'comment-form__submit comment-form__back-link' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
