<main class="main">
  <div class="container">
    <%= search_form_for @q, html: { class: "search-form" } do |f| %>
      <div class="row">
        <div class="col-md-8">
          <%= f.search_field :name_cont, class: "form-control", placeholder: "資格名を入力して検索" %>
        </div>
        <div class="col-md-4">
          <%= f.submit "検索", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    <% end %>

    <div class="qualifications mt-4">
      <div class="qualifications-header">
        <h2>資格情報一覧</h2>
      </div>
      <div class="row qualifications-list">
        <% @qualifications.each do |qualification| %>
          <div class="col-md-6 mb-4">
            <%= link_to qualification_path(qualification), class: "qualification-card" do %>
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title"><%= qualification.name %></h3>
                  <p class="card-text"><%= qualification.description %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
