<main class="main">
  <%= search_form_for @q do |f| %>
    <div class="search-form">
      <%= f.label :name_cont, "資格名" %>
      <%= f.search_field :name_cont %>
      <%= f.submit "検索" %>
    </div>
  <% end %>
  <div class="inner">
    <div class="qualifications">
      <div class="qualifications-header">
        <h2>資格情報一覧</h2>
      </div>
      <div class="qualifications-list">
        <% @qualifications.each do |qualification| %>
          <%= link_to qualification_path(qualification) do %>
            <div class="qualification">
              <h3><%= qualification.name %></h3>
              <p><%= qualification.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
